@foreach (var comment in Model)
{
    <div class="media">
        <div class="img-circle">
            <img src="./post and comments_files/c2.jpg" class="img-fluid" alt="...">
        </div>
        <div class="media-body">
            <ul class="time-rply mb-2">
                <li>
                    <a href="#" class="name mt-0 mb-2 d-block">@comment.Author.Username</a>
                    @comment.DateCreate.ToShortDateString() - @comment.DateCreate.ToShortTimeString()

                </li>
            </ul>
            <p>
                @comment.Content
            </p>
        </div>
    </div>
}