@model Post
<div class="container">
    <div class="contact-grids">
        <form method="post" class="signin-form">
            <div asp-validation-summary="All"></div>
            <input asp-for="AuthorId" type="hidden" />
            <input asp-for="DateCreated" type="hidden" />
            <div class="input-grids">
                <label asp-for="Title"></label>
                <input type="text" class="contact-input" asp-for="Title" />
            </div>
            <div>
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" asp-items="@ViewBag.categories" class="form-control">                    
                </select>
            </div>
            <div class="form-input">
                <label asp-for="Description"></label>
                <textarea asp-for="Description"></textarea>
            </div>
            <div class="form-input">
                <label asp-for="Content"></label>
                <textarea asp-for="Content" rows="10"></textarea>
            </div>
            <div class="d-flex my-3">
                <button class="btn btn-primary ml-auto mr-2">Edit</button>
                <a asp-action="Index" class="btn btn-secondary mr-auto ml-2">Back</a>
            </div>            
        </form>
    </div>
</div>