<span>
    <input type="radio" name="ColorDisplay" value="badge-primary" checked />
    <span class="badge badge-primary">Primary</span>
</span>
<span>
    <input type="radio" name="ColorDisplay" value="badge-secondary" />
    <span class="badge badge-secondary">Secondary</span>
</span>
<span>
    <input type="radio" name="ColorDisplay" value="badge-success" />
    <span class="badge badge-success">Success</span>
</span>
<span>
    <input type="radio" name="ColorDisplay" value="badge-danger" />
    <span class="badge badge-danger">Danger</span>
</span>
<span>
    <input type="radio" name="ColorDisplay" value="badge-warning" />
    <span class="badge badge-warning">Warning</span>
</span>
<span>
    <input type="radio" name="ColorDisplay" value="badge-info" />
    <span class="badge badge-info">Info</span>
</span>
<span>
    <input type="radio" name="ColorDisplay" value="badge-light" />
    <span class="badge badge-light">Light</span>
</span>
<span>
    <input type="radio" name="ColorDisplay" value="badge-dark" />
    <span class="badge badge-dark">Dark</span>
</span>