@model Category
<div class="container">
    @Html.DisplayFor(category => category.Id)
    @Html.DisplayFor(category => category.Name)
    @Html.DisplayFor(category => category.ParentCategoryId)
    @Html.DisplayFor(category => category.IsDeleted)
</div>
<h3>Bạn có chắc muốn xoá danh mục này?</h3>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger">Xoá</button>
</form>
