@model Category
<div class="container">
    <div class="contact-grids">
        <form method="post" class="signin-form">
            <div asp-validation-summary="All"></div>
            <div class="input-grids">
                <label asp-for="Name"></label>
                <input type="text" class="contact-input" asp-for="Name" />
            </div>            
            <div>
                <select asp-for="ParentCategoryId" asp-items="@ViewBag.categories">
                    <option value="">Chọn danh mục</option>
                </select>
            </div>
            <button class="btn btn-style btn-outline">Create</button>
        </form>
    </div>
</div>