@model Member
@inject IConfiguration configuration
@{
    string apiServerAddress = configuration.GetSection("ApiServer").Value;
}
@if (Model != null)
{
    <div class="navbar-nav">
        <div class="dropdown">
            <div class="header-author d-flex ml-lg-4 pl-2 mt-lg-0 mt-3 dropdown-toggle" id="navbarDropdown2" role="button"
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a class="img-circle img-circle-sm" href="#author">
                    <img src="@(apiServerAddress + "/"+ Model.AvatarUrl)" class="img-fluid" alt="@Model.Username">
                </a>
                <div class="align-self ml-3">
                    <a href="#author">
                        <h5>Xin chào <b>@Model.FullName</b></h5>
                    </a>
                </div>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2" id="dropdown-menu2">
                <a class="dropdown-item" asp-action="Index" asp-controller="Member" asp-area="">Xem thông tin cá nhân</a>
                <a class="dropdown-item" asp-action="ChangeAboutMe" asp-controller="Member" asp-area="">Cập nhật giới thiệu bản thân</a>
                <a class="dropdown-item" asp-action="ChangePassword" asp-controller="Member" asp-area="">Đổi mật khẩu</a>
                <a class="dropdown-item" asp-action="ChangeAvatar" asp-controller="Member" asp-area="">Đổi avatar</a>
                <a class="dropdown-item" asp-action="ListPost" asp-controller="Member" asp-area="">Các bài viết đã đăng</a>
                <a class="dropdown-item" asp-action="ListComment" asp-controller="Member" asp-area="">Các bình luận đã đăng</a>
                <a class="dropdown-item" asp-action="Logout"  asp-controller="Account" asp-area="">Đăng xuất</a>
            </div>
        </div>
    </div>
}