<ul>
    <li>
        <a asp-action="Index" asp-controller="Home" class="btn btn-secondary w-100">Tổng quan</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Post" class="btn btn-outline-secondary w-100">Quản lý bài viết</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Category" class="btn btn-outline-secondary w-100">Quản lý danh mục</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Member" class="btn btn-outline-secondary w-100">Quản lý thành viên</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Comment" class="btn btn-outline-secondary w-100">Quản lý bình luận</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Role" class="btn btn-outline-secondary w-100">Quản lý role</a>
    </li>
</ul>

@*Implement change color when choose an option (which is currently choosing has btn-primary, others are btn-outline-primary)*@