<div class="col-3 mt-5">
    <ul>
        <li>
            <a asp-action="Index" class="btn btn-primary w-100">Thông tin cá nhân</a>
        </li>
        <li>
            <a asp-action="ChangePassword" class="btn btn-outline-primary w-100">Đổi mật khẩu</a>
        </li>
        <li>
            <a asp-action="ChangeAvatar" class="btn btn-outline-primary w-100">Đổi avatar</a>
        </li>
        <li>
            <a asp-action="ListPostByMember" asp-controller="Post" class="btn btn-outline-primary w-100">Các bài đăng</a>
        </li>
    </ul>
</div>
@*Implement change color when choose an option (which is currently choosing has btn-primary, others are btn-outline-primary)*@