@model  ForgotPasswordModel
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="contact-grids col-6">
            <div class="d-flex mt-5">
                <h4 class="mx-auto">QUÊN MẬT KHẨU</h4>
            </div>
            <form method="post" class="signin-form">
                <div asp-validation-summary="All"></div>
                <div class="input-grids">
                    <label asp-for="Email"></label>
                    <input class="contact-input" asp-for="Email"/>
                </div>
                <div class="d-flex my-3 flex-column">
                    <button class="btn btn-style btn-outline mx-auto">Xác thực email</button>
                </div>
            </form>
        </div>
    </div>
</div>