@model RegisterModel
<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="contact-grids col-6">
            <div class="d-flex mt-5">
                <h4 class="mx-auto">ĐĂNG KÍ THÀNH VIÊN</h4>
            </div>         
            <form method="post" class="signin-form">
                <div asp-validation-summary="All"></div>
                <div class="input-grids">
                    <label asp-for="Username"></label>
                    <input class="contact-input" asp-for="Username" />
                </div>
                <div class="input-grids">
                    <label asp-for="Password"></label>
                    <input class="contact-input" asp-for="Password" />
                </div>
                <div class="input-grids">
                    <label asp-for="FullName"></label>
                    <input class="contact-input" asp-for="FullName" />
                </div>
                <div class="input-grids">
                    <label asp-for="Email"></label>
                    <input class="contact-input" asp-for="Email" />
                </div>
                <div class="input-grids">
                    <label asp-for="DateOfBirth"></label>
                    <input class="form-control" asp-for="DateOfBirth" />
                </div>
                <div>
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="custom-select">
                        <option value="True">Nam</option>
                        <option value="False">Nữ</option>
                    </select>
                </div>
                <div class="d-flex my-3">
                    <button class="btn btn-style btn-outline mx-auto">Register</button>
                </div>
            </form>
        </div>

    </div>
</div>