
<ul>
    <li>
        <a asp-action="Index" class="btn btn-secondary w-100">Thông tin cá nhân</a>
    </li>
    <li>
        <a asp-action="ChangeAboutMe" class="btn btn-outline-secondary w-100">Cập nhật giới thiệu bản thân</a>
    </li>
    <li>
        <a asp-action="ChangePassword" class="btn btn-outline-secondary w-100">Đổi mật khẩu</a>
    </li>
    <li>
        <a asp-action="ChangeAvatar" class="btn btn-outline-secondary w-100">Đổi avatar</a>
    </li>
    <li>
        <a asp-action="ListPost" class="btn btn-outline-secondary w-100">Các bài viết đã đăng</a>
    </li>
    <li>
        <a asp-action="ListComment" class="btn btn-outline-secondary w-100">Các bình luận đã đăng</a>
    </li>
    <li class="mt-4">
        <a asp-action="LogOut" asp-controller="Account" class="btn btn-outline-secondary w-100">Đăng xuất</a>
    </li>
</ul>

@*Implement change color when choose an option (which is currently choosing has btn-primary, others are btn-outline-primary)*@