@model ChangePasswordModel
@{
    Layout = "_MemberLayout";
}
<h4 class="text-center">ĐỔI MẬT KHẨU</h4>
<div class="contact-grids mt-3">
    <form method="post" class="signin-form">
        <div asp-validation-summary="All"></div>
        <div class="input-grids">
            <label asp-for="OldPassword"></label>
            <input class="contact-input" asp-for="OldPassword" />
        </div>
        <div class="input-grids">
            <label asp-for="NewPassword"></label>
            <input class="contact-input" asp-for="NewPassword" />
        </div>
        <div class="input-grids">
            <label asp-for="ConfirmNewPassword"></label>
            <input class="contact-input" asp-for="ConfirmNewPassword" />
        </div>
        <div class="d-flex my-3">
            <button class="btn btn-style btn-outline mx-auto">Save change</button>
        </div>
    </form>
</div>
